{% extends "base/base.html" %}

{% block content %} 

<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
  {% load crispy_forms_tags %}     
  <form method="post">
    {% csrf_token %}
    <div class="card-body">
      <h1 class="text-center">Pool Registration Form</h1>
      <div class="row">
        <div class="col-md-6">
          {{ poolregis_form.pool_name|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ poolregis_form.pool_id|as_crispy_field }}
        </div>
      </div>
      {{ poolregis_form.prefered_tokens|as_crispy_field }}
      {{ poolregis_form.email|as_crispy_field }}
      {{ poolregis_form.email2|as_crispy_field }}
      <div class="row">
        <div class="col-md-9">
          {{ poolregis_form.website|as_crispy_field }}
        </div>
        <div class="col-md-3">
          {{ poolregis_form.phone|as_crispy_field }}
        </div>
      </div>
      <object data="http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=0&navpanes=0&scrollbar=0f"
        type="application/pdf" height="300px" width="100%">
        <embed src="http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=0&navpanes=0&scrollbar=0f"
          type="application/pdf">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a
            href="http://infolab.stanford.edu/pub/papers/google.pdf">Download
            PDF</a>.</p>
        </embed>
      </object>
      <div style="display: flex; align-items: center; justify-content: center;">
        {{ poolregis_form.disclaimer_agreement|as_crispy_field }}
      </div>
      <div style="display: flex; align-items: center; justify-content: center;">
        {{ poolregis_form.captcha|as_crispy_field }}
      </div>
      <!-- {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %} -->
      <div style="display: flex; align-items: center; justify-content: center;">
        <button type="submit" class="btn btn-primary">Resgister</button>    
      </div>
    </div>
  </form>
</div>
{% endblock %}  
